@import "../../mixin";

.home {
    width: 100%;
    min-height: 100vh;

    &Top {
        .top {
            background-color: var(--border-grey);
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: .6rem 2rem;
            border-radius: 1rem 1rem 0 0;

            .icon {
                font-size: 2rem;
            }

            p {
                font-size: 1.3rem;
                font-weight: 700;
            }
        }

        .bottom {
            background-color: green;
            padding: 1rem 0 0 3rem;
            text-align: center;


            p {
                width: 10rem;
                font-size: 1.6rem;
                font-weight: 800;
                // text-transform:uppercase;
                border-bottom: 2px solid white;
                line-height: 2rem;
                display: flex;
                justify-content: center;
                gap: 1rem;

                .icon {
                    font-size: 1.7rem;
                }
            }
        }
    }

    &Bottom {
        display: flex;
        margin-top: 5rem;
        gap: 2rem;
        min-height: 40rem;
        align-items: stretch;
        border-bottom: .3px solid var(--border-grey);

        @include respond(tab-port) {
            flex-direction: column;
        }

        .profile {
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 1rem;
            border: .3px solid var(--border-grey);
            min-width: 29rem;

            &Top {
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                overflow: hidden;

                .image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }

                &ImgLoading {
                    width: 20rem;
                    height: 20rem;
                    border-radius: 50%;
                    background-color: var(--background-text-grey);
                    animation: blinking 2s ease-in-out alternate infinite;

                }
            }

            &Bottom {
                text-align: center;
                width: 100%;

                .desc {
                    margin-top: 4em;

                    .loadingName {
                        width: 100%;
                        height: 3rem;
                        border-radius: 1rem;
                        background-color: var(--background-text-grey);
                        animation: blinking 2s ease-in-out alternate infinite;
                    }

                    .name {
                        font-size: 3rem;
                        font-weight: 900;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        white-space: nowrap;

                    }

                    .loadingEmail {
                        width: 40%;
                        height: 2rem;
                        border-radius: 1rem;
                        background-color: var(--background-text-grey);
                        animation: blinking 2s ease-in-out alternate infinite;
                        margin-top: 1rem;
                    }

                    .email {
                        font-size: 1.4rem;
                        padding: 1rem 0;
                        display: flex;
                        align-items: flex;
                        gap: 1rem;
                        justify-content: center;

                    }

                    .buttonGroup {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 4.5rem;

                        p {
                            font-size: 1.4rem;
                            font-weight: 700;
                            padding: .8rem 2rem;
                            border-radius: 6rem;
                            cursor: pointer;
                        }

                        .loadingEditProfile {
                            width: 10rem;
                            height: 3rem;
                            border-radius: 10rem;
                            background-color: #1f71eb79;
                            animation: blinking 2s ease-in-out alternate infinite;
                        }

                        .loadingSignOut {
                            width: 10rem;
                            height: 3rem;
                            border-radius: 10rem;
                            background-color: rgba(255, 0, 0, 0.452);
                            animation: blinking 2s ease-in-out alternate infinite;
                        }

                        .editProfile {
                            background-color: #1f6feb;

                            &:hover {
                                background-color: rgba(#1f6feb, .8);
                            }
                        }

                        .signOut {
                            background-color: red;

                            &:hover {
                                background-color: rgba(red, .8);
                            }
                        }
                    }
                }
            }

        }

        .dash {
            flex: 7;
            max-height: 45rem;

            .desc {
                .title {
                    font-size: 1.8rem;
                    font-weight: 900;
                    padding: 0 0 2rem 0;
                }
            }

            .calendar {
                height: 20rem;
                border: .3px solid var(--border-grey);
                position: relative;

                .stats {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 2rem;
                    position: absolute;
                    bottom: 2rem;
                    width: 100%;

                    p {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: var(--text-white);
                    }
                }
            }

            .button {
                padding: .7rem 3rem;
                background-color: transparent;
                border: none;
                border-radius: 6px;
                color: var(--white);

                &:not(last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    background-color: var(--border-grey);
                }
            }

            .yearsButton {
                display: flex;
                width: 100%;
                margin-top: 2rem;
                justify-content: space-between;
                gap: 2rem;

                @include respond(tab-port) {
                    flex-direction: column;
                }

                .buttonCont {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    width: 12rem;
                    gap: .6rem;
                }

                .containerRight {
                    flex: 3;
                    display:grid;
                    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
                    grid-auto-rows: 18rem;
                    gap:2rem;

                    .projects {
                        flex: 1;

                        object-position: bottom;
                        border: none;
                        backdrop-filter: blur(30px);
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        overflow: hidden;

                        &::after {
                            content: "";
                            background-image: url(../../../public/assets/6912442.jpg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            position: absolute;
                            filter: blur(40px) opacity(.3);
                            z-index: -1;
                        }

                        gap: 2rem;

                        .left {
                            height: 100%;
                            width: 100%;
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;

                            &Top {
                                width: 100%;
                                flex: 1;

                                h1 {
                                    font-size: 3rem;
                                    color: white;
                                    font-weight: 900;
                                    text-transform: capitalize;
                                    padding: 1rem;
                                    border-bottom: .3px solid var(--white);
                                }
                            }

                            &Bottom {
                                display: flex;
                                width: 100%;
                                padding: 1rem;

                                h1 {
                                    font-size: 10rem;
                                    color: white;
                                    font-weight: 700;
                                    text-transform: capitalize;
                                    text-rendering: geometricPrecision;
                                    font-variant-numeric: lining-nums;

                                }
                            }
                        }

                        .right {

                            .icon {
                                font-size: 12rem;
                            }
                        }
                    }

                    .designs {
                        flex: 1;
                        position: relative;
                        background-position: bottom;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;
                        overflow: hidden;

                        &::after {
                            content: "";
                            background-image: url(../../../public/assets/3136575.jpg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            position: absolute;
                            filter: blur(40px) opacity(.3);
                            z-index: -1;
                        }

                        .left {
                            height: 100%;
                            width: 100%;
                            flex: 1;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;

                            &Top {
                                width: 100%;
                                flex: 1;

                                h1 {
                                    font-size: 3rem;
                                    color: white;
                                    font-weight: 900;
                                    text-transform: capitalize;
                                    padding: 1rem;
                                    border-bottom: .3px solid var(--white);
                                }
                            }

                            &Bottom {
                                display: flex;
                                width: 100%;
                                padding: 1rem;

                                h1 {
                                    font-size: 10rem;
                                    color: white;
                                    font-weight: 1000;
                                    text-transform: capitalize;
                                    text-rendering: geometricPrecision;
                                    font-variant-numeric: lining-nums;

                                }
                            }
                        }

                        .right {

                            .icon {
                                font-size: 12rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


@keyframes blinking {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}