@import "../../mixin";

.container {
    position: relative;
    display: flex;
    gap: 4rem;
    min-height: 100vh;

    @include respond(phone) {
        gap: 0;
    }

    &Left {
        flex: 5;
        width: 100%;
        overflow: hidden;
        padding-left:2rem;

        .top {
            margin-bottom: 3rem;


            .title {

                h1 {
                    font-size: 16rem;
                    font-weight: 1000;
                    text-transform: uppercase;
                    color: var(--background-text-grey);
                    position: absolute;
                    top: -7rem;
                    left: 0;
                    z-index: -2;

                    text-shadow: 0 2px 10px -2px black;

                    @include respond(tab-port) {
                        width: 95%;
                        overflow: hidden;
                    }
                }

            }

            .smTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 2rem;

                h1 {
                    font-size: 4rem;
                    color: var(--green-color);
                    font-weight: 800;
                }

                .buttonCont {
                    min-width: 5rem;

                    button {
                        padding: .9rem 2rem;
                        border: none;
                        background-color: var(--green-color);
                        font-weight: 900;
                        font-size: 1.4rem;
                        border-radius: 8rem;
                        transition: all .3s ease;
                        color: var(--white);

                        &:hover {
                            box-shadow: 0 3px 15px -2px rgb(19, 19, 19);
                            cursor: pointer;
                            background-color:green;
                        }
                    }
                }
            }
        }

        .bottom {}
    }

    &Right {
        height: 100%;
        flex: 2;
        position: sticky;
        top: 6rem;
        border-left: .3px solid var(--border-grey);
        margin-left:1rem;

        @include respond(phone) {
            display: none;
        }

        ul {
            list-style: none;
            padding-top: 1rem;
            padding-bottom: .5rem;

            &::before {
                content: "";
                width: .7rem;
                height: .7rem;
                display: inline-block;
                position: absolute;
                background-color: var(--blue-color);
                border-radius: 50%;
                left: -.4rem;
                top: -.5rem;
            }

            &::after {
                content: "";
                width: .7rem;
                height: .7rem;
                display: inline-block;
                position: absolute;
                background-color: var(--blue-color);
                border-radius: 50%;
                left: -.4rem;
                bottom: 0;
            }


            li {
                font-size: 1.3rem;
                font-weight: 900;
                padding: .2rem 1rem 1rem 2rem;
                position: relative;
                color: var(--blue-color);

                &::before {
                    content: "";
                    width: .5rem;
                    height: .5rem;
                    display: inline-block;
                    position: absolute;
                    background-color: rgb(255, 255, 255);
                    border-radius: 50%;
                    left: -.4rem;
                    top: .5rem;
                    margin-left:1rem;
                }
            }

            .addProj {
                color: var(--green-color)
            }
        }
    }
}