@import "../../../mixin";

.container{
    margin-bottom:7rem;
    display:flex;
    justify-content: center;
    .card{
        width:95%;
        border-radius:2rem;
        overflow: hidden;
        // margin:0 auto;
        &Top{
            overflow: hidden;
            width:100%;
            max-height:60vh;
            &:hover{
                cursor:pointer;
            }
            .img{
                width:100%;
                height:auto;
                object-fit:cover;
                object-position: top center;
            }
        }
        &Bottom{
            .titleArea{
                display:flex;
                justify-content: space-between;
                align-items: center;
                .title{
                    padding:2rem 0;
                    font-size:1.3rem;
                    font-weight:800;
                }
                .actions{
                    display:flex;
                    gap:2rem;
                    i{
                        font-size:1.7rem;
                    }
                    .edit{
                        background-color: var(--blue-color);
                        width:3.2rem;
                        height:3.2rem;
                        border-radius: 50%;
                        display:flex;
                        align-items: center;
                        justify-content: center;

                        &:hover{
                            cursor:pointer;
                        }
                    }
                    .delete{
                        background-color:rgb(202, 20, 20);
                        width:3.2rem;
                        height:3.2rem;
                        border-radius: 50%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            cursor:pointer;
                        }
                    }
                }
                
            }
            .dateGroup{
                display:flex;
                align-items: center;
                gap:1rem;
                p{
                    font-size:1.3rem;
                    font-weight:600;

                    .year{
                        font-size:1.4rem;
                        color:var(--text-white);
                        font-weight:700;
                    }
                }
                .line{
                    flex:1;
                    border-bottom:1px solid var(--border-grey);
                }
            }
            
            .projectBottomText{
                position:relative;
                padding:1rem 0 3rem 0;
                .line{
                    border-left:1px solid var(--border-grey);
                    height:100%;
                    display:inline-block;
                    position:absolute;
                    left:1.7rem;
                }
            
            .projectName{
                position:relative;
                margin-top:3rem;
                span{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-size:1.5rem;
                    position:absolute;
                    width:3.4rem;
                    height: 3.4rem;
                    top:50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: var(--border-grey);
                    border:2px solid var(--background-grey);
                    color:rgb(153, 153, 153);
                }
                h2{
                    padding-left:5rem;
                }
            }
            .projectOverview{
                position:relative;
                margin-top:3rem;
                span{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-size:1.5rem;
                    position:absolute;
                    width:3.4rem;
                    height: 3.4rem;
                    top:50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: var(--border-grey);
                    border:2px solid var(--background-grey);
                    color:rgb(153, 153, 153);
                }
                p{
                    padding-left:5rem;
                    font-size:1.4rem;
                    font-weight:700;
                    line-height:2.3rem;
                    color:rgb(107, 107, 107);
                }
            }

            .techUsed{
                position:relative;
                margin-top:3rem;
                span{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-size:1.5rem;
                    position:absolute;
                    width:3.4rem;
                    height: 3.4rem;
                    top:50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: var(--border-grey);
                    border:2px solid var(--background-grey);
                    color:rgb(153, 153, 153);
                }
                .technologies{
                    display:flex;
                    gap:1rem;
                    flex-wrap:wrap;
                    padding-left:5rem;
                    
                    p{
                        font-size:1.4rem;
                        font-weight:700;
                        line-height:2.3rem;
                        color:rgb(251, 251, 251);
                    }
                    
                }
            }
            .projectLink{
                position:relative;
                margin-top:3rem;
                span{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-size:1.5rem;
                    position:absolute;
                    width:3.4rem;
                    height: 3.4rem;
                    top:50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: var(--border-grey);
                    border:2px solid var(--background-grey);
                    color:rgb(153, 153, 153);
                }
                p{
                    padding-left:5rem;
                    font-size:1.4rem;
                    font-weight:700;
                    line-height:2.3rem;
                    color:var(--green-color);
                }
            }
        }
    }
    }
}