@import "../../../../mixin";

.imgCont {
       
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
    height: 100%;
    top: 0;
    background-color: rgba(25, 25, 25, 0.919);
    // backdrop-filter: blur(10px);

    height: 100vh;
    /* Your existing styles */
    overflow-y: scroll;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        /* Hide scrollbar for Chrome, Safari, and Opera */
    }
    .closeBtn{
        display:flex;
        align-items: center;
        justify-content: center;
        width:3.5rem;
        height:3.5rem;
        border-radius:50%;
        position:sticky;
        top:6rem;
        left:96.2%;
        background-color: rgba(128, 128, 128, 0.533);
        font-size:2rem;
        cursor:pointer;
        z-index:9;
        transition:all .3s ease-in-out;
        i{
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            color: var(--white);

        }
        &:hover{
            background-color:rgb(173, 171, 171);   
        }
    }
    .links{
        position:sticky;
        top:15rem;
        left:96%;
        width:4.5rem;
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1rem;
        z-index:7;
        .profile{
            display:flex;
            flex-direction: column;
            align-items: center;
            
            &Img{
                .img{
                    width:3.5rem;
                    height:3.5rem;
                    object-fit:cover;
                    border-radius:50%;

                }
            }
            p{
                font-size:1.4rem;
                color:var(--text-white);
                font-weight:700;
                padding: 1rem 0 2rem 0;
            }
        }
        i{
            color:black;
            font-size:1.6rem;
        }
        .github{
            width:3.5rem;
            height:3.5rem;
            background-color:rgb(247, 255, 252);
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom:2rem;
        }
        .linkedIn{
            width:3.5rem;
            height:3.5rem;
            background-color:#0757f6;
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
            i{
                color: var(--white);
            }
        }
        .instagram{
            margin-bottom:2rem;
            width:3.5rem;
            height:3.5rem;
            background-color:rgb(247, 255, 252);
            display:flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
    .imgProject{
       position:relative;
       transform: translateY(-22rem);
    }

}