@import "../../mixin";

.container {
    margin-top:2rem;
    &Title{
        z-index:-1;
        width:80%;
        height:100%;
        overflow:hidden;
        h1{
            font-size: 35rem;
            font-weight: 1000;
            text-transform: uppercase;
            color: var(--background-text-grey);
            position: absolute;
            top: -7rem;
            left: 0;
            z-index: -2;

            text-shadow: 0 2px 10px -2px black;

            @include respond(tab-port){
                font-size:20rem;
            }
            @include respond(phone){
                font-size:10rem;
            }

            @include respond(tab-port) {
                width: 95%;
                overflow: hidden;
            }
        
        }
    }
    .design {
        transform: translateY(-10rem);
        &Top {
            display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 2rem;
                padding:2rem 0;
            &Title{
                h1{
                    font-size: 4rem;
                    color: var(--green-color);
                    font-weight: 1000;
                }
            }
            &Button{
                button{
                    padding: .9rem 2rem;
                    border: none;
                    background-color: var(--green-color);
                    font-weight: 900;
                    font-size: 1.4rem;
                    border-radius: 8rem;
                    transition: all .3s ease;
                    color: var(--white);
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    gap:1rem;
                    .icon{
                        font-size:2rem;
                    }

                    &:hover {
                        box-shadow: 0 3px 15px -2px rgb(19, 19, 19);
                        cursor: pointer;
                        background-color:green;
                    }
                }
            }
        }

        &Bottom {
            // Define your SCSS variables or mixins here if needed

            .images {
                width: 100%;
                columns: 250px;
                gap: 1rem;



                .imageCont {
                    margin-bottom: 1rem;
                    max-height: 40rem;
                    overflow: hidden;
                    border-radius: 1.6rem;
                    break-inside: avoid;
                    position: relative;
                    transition:all .3s ease-in-out;

                    &:hover>.imageDescription {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding:0 1rem;
                    }

                    &:hover>.icont>.img {
                        cursor: zoom-in;
                        filter: grayscale(100%) brightness(40%);

                    }

                    .img {
                        width: 100%;
                        border-radius: 1.6rem;
                        height: auto;
                        vertical-align: auto;
                        transition: all .3s ease-in-out;

                        // &:hover {
                        //     cursor: zoom-in;
                        //     filter: grayscale(100%) brightness(30%);

                        // }

                    }



                    .imageDescription {
                        width: 100%;
                        padding: 1rem 0;
                        font-size: 1.4rem;
                        font-weight: 700;
                        flex: 1;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                        pointer-events: none;
                    }

                    .visible {
                        display: flex;
                    }

                    .actions {
                        display: flex;
                        gap: 1rem;
                        position: absolute;
                        bottom: 1rem;
                        right: 1rem;

                        i {
                            font-size: 1.7rem;
                        }

                        .edit {
                            background-color: var(--blue-color);
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .delete {
                            background-color: rgb(202, 20, 20);
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }


                }

            }

            // Additional SCSS code can go here


        }
    }
}